@import "tailwindcss";

:root {
  /* container width  */
  --container-width : 1200px;

  /* text color  */
  --text-color: #424242;
  --bg-color: #56BB3E;
  --text-green : #56BB3E;
  --menu-text-color: #044313;
  --heading-color: #044313;


  /* text hover  */
  --bg-hover-color: #3F8F2D;
}

/* --------------- best seller backgroun --------------  */
.best-seller-bg {
  background-image: url('../public/best-seller/bg-bestseller.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* ------- product bottom bg ----------------  */
.product-bottom-bg{
  background: url('../public/Productbottom/bg-service.jpg') center center no-repeat;
}

.product-animation {
  animation: float 1s ease-in-out infinite  ;
}

@keyframes float {
  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.product-card:hover .product-image{
  animation: float 1.5s ease-in-out infinite;
}




/* ------------ shop page breadcurm banner -----------  */
.shop-breadcrum-banner {
  background: url('../public/bg-breadcrum.jpg') center center no-repeat;
  background-size: cover;
}
