@import "tailwindcss";

:root {
  /* container width  */
  --container-width : 1200px;

  /* text color  */
  --text-color: #424242;
  --bg-color: #56BB3E;
  --text-green : #56BB3E;
  --menu-text-color: #044313;
  --heading-color: #044313;


  /* text hover  */
  --bg-hover-color: #3F8F2D;
}

/* --------------- best seller backgroun --------------  */
.best-seller-bg {
  background-image: url('../public/best-seller/bg-bestseller.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* ----------- for carousel ----------- */
.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
